@page "/"
@using System.Timers;

<style>
    .container {
        width: 400px;
    }
    button {
        width: 100px;
        height: 100px;
        font-size: 50px;
    }
</style>

<div class="container">
    <div class="row">
        @for (var animalNumber = 0; animalNumber < shuffledAnimals.Count; animalNumber++)
            {
                var animal = shuffledAnimals[animalNumber];
                var uniqueDescription = $"Button #{animalNumber}";
                <div class="col-3">
                    <button @onclick="@(() => ButtonClick(animal, uniqueDescription))"
                            type="button" class="btn btn-outline-light">
                        <h1>@animal</h1>
                    </button>
                </div>
            }
    </div>
    <!-- 加入一個 row 顯示目前找到幾對 -->
    <div class="row">
        <h2>Matches found: @matchesFound</h2>
    </div>
    <div class="row">
        <h2>Time: @timeDisplay</h2>
    </div>
</div>

@code{
    List<string> animalEmoji = new List<string>()
    {
        "🐶","🐶",
        "🐱","🐱",
        "🐭","🐭",
        "🐹","🐹",
        "🐰","🐰",
        "🦊","🦊",
        "🐻","🐻",
        "🐼","🐼",
    };

    List<string> shuffledAnimals = new List<string>();
    int matchesFound = 0; //加入紀錄找到對子的變數
    Timer timer;
    int tenthsOfSecondsElapsed = 0;
    string timeDisplay;

    protected override void OnInitialized()
    {
        timer = new Timer(100); //0.1秒彈一下
        timer.Elapsed += Timer_Tick;
        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new();
        shuffledAnimals = animalEmoji
          .OrderBy(item => random.Next())
          .ToList();
        matchesFound = 0;//設定遊戲時，找到的對數都設為 0
        tenthsOfSecondsElapsed = 0;// 重新遊戲的時候要重設為 0
    }

    string lastAnimalFound = string.Empty;
    string lastDescription = string.Empty;

    // animalDescription 存的值型態為 「Button #數字」
    private void ButtonClick(string animal, string animalDescription)
    {
        //檢查 lastAnimalFound 是否為空值，確認現在按下的是第幾顆按鈕
        if (lastAnimalFound == string.Empty)
        {
            //現在按下的是第一顆按鈕，記住 animal 的值
            lastAnimalFound = animal;
            lastDescription = animalDescription;
            timer.Start();
        }
        // 如了動物 emoji 要相同，「button #數字」的值也需要確保相異
        else if ((lastAnimalFound == animal) && (animalDescription != lastDescription))
        {
            //現在按下的是第二顆按鈕，而且配對成功
            //要使用LINQ搜尋重設 shuffledAnimals
            lastAnimalFound = string.Empty;
            shuffledAnimals = shuffledAnimals
                .Select(a => a.Replace(animal, string.Empty))
                .ToList();
            //增加找到對子數，檢查找到對子數是不是達到上限，是的話就重設遊戲
            matchesFound++;
            if (matchesFound == 8)
            {
                timer.Stop();
                timeDisplay += " - Play Again?";
                SetUpGame();
            }
        }
        else
        {
            //現在按下的是第二顆按鈕，但配對失敗
            //重設 lastAnimalFound
            lastAnimalFound = string.Empty;
        }
    }

    //Timer 的事件處理常式
    private void Timer_Tick(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() =>
        {
            tenthsOfSecondsElapsed++;
            timeDisplay = (tenthsOfSecondsElapsed / 10F).ToString("0.0s");
            StateHasChanged();
        });
    }
}
